<form (ngSubmit)="onSubmit()" #product_layout="ngForm">
  <label>Enter the number of products:</label>
  <select class="form-select" aria-label="Select Product Layout" [(ngModel)]="selectedProduct" name="productLayout"
    [ngModelOptions]="{ standalone: true }">
    <option value="" disabled selected>Select a layout</option>
    <option value="1">1:1</option>
    <option value="2">1:2</option>
    <option value="3">1:1:1</option>
    <option value="4">1:2:4</option>
  </select>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="product_layout.invalid">
      Submit
    </button>
  </div>
</form>

<p>Number of Products: {{(num_of_products)}}</p>

<ng-template *ngIf="num_of_products>0">
  <div class="container">
    <form (ngSubmit)="onSubmitProduct()" #productform="ngForm">
      <div class="form-group" *ngFor="let product of products; let i = index">
        <label for="name{{ i }}">Product Name {{ i + 1 }}:</label>
        <input type="text" [id]="'name' + i" [name]="'name' + i" class="form-control" [(ngModel)]="product.name"
          #name="ngModel" required />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="productform.invalid">
          Submit
        </button>
      </div>
    </form>
  </div>
</ng-template>